.App {
  text-align: center;
  display: flex;
  width: 100%;
}
/* .App-Header {
  margin-left: 70%;
  align-content: right;
} */

.navLinks {
  /* width: 100%; */
  margin-top: 40%;
  margin-right: 2%;
  /* margin-left: 70%; */
}
.App-header {
  width: 100%;
}

.App-header h1{
  display: flex;
  font-size: 32px;
  color: white;
  background-color: rgb(13, 13, 128);
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;  
}

.App-header h1:hover {
  background-color: rgba(13, 13, 128, .7);
  -moz-transform: skew(-14deg, 0deg);
  -webkit-transform: skew(-14deg, 0deg);
  -o-transform: skew(-14deg, 0deg);
  -ms-transform: skew(-14deg, 0deg);
  transform: skew(-14deg, 0deg);
  transition: transform .3s;
}